/*------ROOT BODY -----*/

*{
    margin: 0%;
    padding: 0%;
}

body{
    width: 100%;
    font-size: 18px;
}

/*------------------------ VARIABLES ----------------------------------*/

@import './utils/variables.scss';

/*------------------------ MIXINES ----------------------------------*/

@import './utils/mixins.scss';

/*------------------------ HEADER ------------------------------------*/

@import './base/header.scss';

/*------------------------ NAVBAR ------------------------------------*/

@import './base/navBar.scss';

/*------------------------ NAVBAR ------------------------------------*/

@import './base/section.scss';

/*------------------------ SECTION ------------------------------------*/

@import './base/mediaQuery.scss';


/*------------------------ FOOTER ------------------------------------*/

@import './base/footer.scss';

/*------------ polices --------------

font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;

*/







