.footer{
    background-color: $moderate ;
    color: $cyan;
    text-align: center;
    margin-top: -1em;
    &__heading{
        padding-top: 4rem;
        font-family: 'Fraunces';
        font-weight: bolder;
        font-size: 2.2rem;
        margin-bottom: 2rem;
        filter : blur(0.015em);
        }
    &__link{
        text-align: center;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        font-family:'Barlow' ;
    }
    &__word{
        margin-top: 3rem;
        margin-bottom: 5rem;
        color: $cyan;
    }
    &__icon{
        filter : blur(0.01em);
        padding-bottom: 7rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}