

.header {
    background-image: url('./../img/mobile/image-header.jpeg');
    @include background-Total ; 
    &__nav{
        margin-bottom: 7em;
    }
    &__heading{
        font-family: 'Fraunces';
        font-weight: 900;;
        font-size: 2.6rem;
        text-align: center;
        color: $extraLightColor;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        margin-bottom:5em;
    }
    &__img{
        position: relative;
        top: -12rem;
        width: 10%;
        margin-left: 45%;
        margin-top : 4rem;
        margin-bottom: 1rem;
    }
    &__list{
        padding-top: 1rem;
    }
}