/*---------- Variables ----------*/

/*-- Primary colors --*/
$red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$cyan: hsl(167, 40%, 24%);
$blue :  hsl(198, 62%, 26%);
$moderate: hsl(168, 46%, 61%);

/*-- secondary colors --*/

$primaryTxtColor: hsl(212, 27%, 19%);
$secondaryTxtColor: hsl(213, 9%, 39%);
$clearTxtColor : hsl(232, 10%, 55%);
$lightColor: hsl(210, 4%, 67%);
$extraLightColor: hsl(0, 0%, 100%);

